In [1]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv('Iris.csv')

In [4]:
df.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [5]:
df['Species'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Species, dtype: int64

In [6]:
df=df.drop(columns=['Id']) 
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [7]:
df.describe()

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count     150.000000    150.000000     150.000000    150.000000
mean        5.843333      3.054000       3.758667      1.198667
std         0.828066      0.433594       1.764420      0.763161
min         4.300000      2.000000       1.000000      0.100000
25%         5.100000      2.800000       1.600000      0.300000
50%         5.800000      3.000000       4.350000      1.300000
75%         6.400000      3.300000       5.100000      1.800000
max         7.900000      4.400000       6.900000      2.500000

In [8]:
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
X=df.drop(columns=['Species'])
y=df['Species']
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3)

In [9]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train, y_train)
y_pred=knn.predict(X_test)
accuracy=accuracy_score(y_test,y_pred)
print(f"Accuracy:{accuracy}")

Accuracy: 0.9777777777777777

In [10]:
import pickle
filename='knnmodel.pkl'
pickle.dump(knn,open(filename,'wb'))

In [11]:
X_test.head()

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
37            4.9           3.1            1.5           0.1
19            5.1           3.8            1.5           0.3
97            6.2           2.9            4.3           1.3
96            5.7           2.9            4.2           1.3
78            6.0           2.9            4.5           1.5

In [12]:
load_model=pickle.load(open(filename,'rb'))

In [19]:
load_model.predict([[5.5,3.5,1.3,0.2]])

C:\Users\rohit\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

array(['Iris-setosa'], dtype=object)